extends ../../layouts/default.pug
include ../../layouts/mixins/box-head.pug
include ../../layouts/mixins/product-layout.pug
include ../../layouts/mixins/alert.pug


block head
    link(rel="stylesheet" href="/css/friend.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.7/viewer.css")

    

block main
    +alert-success(4000)
    +alert-error(4000)

    .container.my-5(my-id=user.id)
        include ../../partials/list-btn-user.pug
        .row
            .col-12
                +box-head("Danh sach nguoi dung")
        .row
            each user in users
                .col-6
                    div(class="box-user")
                        div(class="inner-avatar")
                            img(
                            src=user.avatar ||"https://robohash.org/hicveldicta.png"
                            alt=user.fullName
                            )
                        div(class="inner-info")
                            div(class="inner-name") #{user.fullName}
                            div(class="inner-buttons")
                                button(
                                    class="btn btn-sm btn-primary mr-1"
                                    button-add-friend=user.id
                                ) Kết bạn
                                button(
                                    class="btn btn-sm btn-secondary mr-1"
                                    button-cancel-friend=user.id

                                ) Hủy
    block script 
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.js"></script>
        <script type="module" src="/js/users.js"></script>