//- .sider
//-  .inner-menu 
//-   ul 
//-    li 
//-     a(href=prefixAdmin+"/dashboard")  Tổng quan 
//-    li 
//-     a(href="/") Trang chủ
//-    if(role.permission.includes("products_category_view"))
//-     li 
//-         a(href=prefixAdmin+"/products-category")  Danh mục sản phẩm
//-    if(role.permission.includes("products_view"))
//-     li 
//-         a(href=prefixAdmin+"/products")  Danh sách sản phẩm
//-    if(role.permission.includes("role_view"))
//-     li 
//-         a(href=prefixAdmin + "/role") Nhóm quyền
//-    if(role.permission.includes("role_permission"))
//-     li 
//-         a(href=prefixAdmin + "/role/permissions") Phân quyền
//-    if(role.permission.includes("account_view"))
//-     li 
//-         a(href=prefixAdmin + "/accounts") Danh sách tài khoản
//-    li 
//-     a(href=prefixAdmin+"/setting/general") Cài đặt chung
.sider
 .inner-menu 
  ul 
   li 
    a(href=prefixAdmin+"/dashboard")  Tổng quan 
   li 
    a(href="/") Trang chủ
   if(role.permission.includes("products_category_view"))
    li 
        a(href=prefixAdmin+"/products-category")  Danh mục sản phẩm
   if(role.permission.includes("products_view"))
    li 
        a(href=prefixAdmin+"/products")  Danh sách sản phẩm
   if(role.permission.includes("role_view"))
    li 
        a(href=prefixAdmin + "/role") Nhóm quyền
   if(role.permission.includes("role_permission"))
    li 
        a(href=prefixAdmin + "/role/permissions") Phân quyền
   if(role.permission.includes("account_view"))
    li 
        a(href=prefixAdmin + "/accounts") Danh sách tài khoản
   li 
    a(href=prefixAdmin+"/setting/general") Cài đặt chung
  